
body{
    background-color: aqua;
}

.titulo{
    display: flex;
    justify-content: center;
    height: 150px;
    font-size: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.divFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: cente;
    border: 5px solid black;
    border-radius: 15px;
    background-color:rgb(255, 149, 0);
    width: 300px;
    padding: 30px;
}

.tituloCad{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    font-size: 20px;
    margin: 10px;
}

.subTituloCad{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

input{
    width: 240px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}
