@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5085cb;
    font-family: sans-serif; 
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

h1{
    font-size: 80px;
    color: black;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin: 5px;
}

.card{
    box-shadow: 1px 1px 5px #0e0e0df0;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top{
    text-align: center; 
}

.titulo{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: 'Heebo', sans-serif;
}

.desc{
    color: rgb(0, 0, 0);
    font-size:medium;
    font-family: 'Heebo', sans-serif;
}

.card-group > label{
    margin-bottom: 10px; 
    width: 100%;
    color: rgb(82, 79, 79);
    display: block;
    font-family: 'Tiro Bangla', serif;
}

.card-group > input{
    margin-bottom: 10px; 
    border-radius: 5px;
    outline: green;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group{
    margin-bottom: 10px; 
}

.botao-login{
    border: 2px solid black;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: rgb(158, 158, 158);
    font-family: 'Tiro Bangla', serif;

}

.div-botao-login{
    text-align: center;
}

.botao-login{
    width: 70px;
    height: 30px;
    color: black;
    background-color: #5085cb;
}

.link-cadastro{
    color: black;
    font-size: small;
}
