
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.navbar{
    background-color: #0d6efd;
}

.nav-item{
    margin: 10px;
    padding: 5px;
    position: relative;
    left: 20%;
}

.nav-link{

    color: beige;
}

.navbar-nav{    

}

