#navegacao{
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paginicial{
    margin-left: 20px;
}

.navitens{
    display: flex;
    align-items: center;
}

.sair{
    margin-right: 20px;
}

.itemhome{
    color: black;
}

.itemnav{
    color: black;
    margin-right: 20px;
}

.itemsair{
    color: black;
}