
body{
    background-image: linear-gradient(to right, rgb(219, 75, 75), rgb(235, 123, 48));
    height: 100%;
}

.titulo{
    display: flex;
    font-family: 'Koulen', cursive;
    color: white;
    justify-content: center;
    height: 150px;
    font-size: 40px;
    align-items: center;
    margin-bottom: 10px;
}

h1{
    width: 600px;
    text-align: center;
    text-shadow:
        -1px -1px 1px black,
        -1px 4px 5px black,                    
        1px -1px 5px black,                  
        1px 4px 1px black;
}

.divFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: cente;
    border: 3px solid white;
    color: white;
    text-shadow:
               -1px -1px 1px black,
               -1px 0px 1px black,                    
                1px -1px 1px black,                  
                1px 0px 1px black;
    border-radius: 15px;
    background-color:rgb(223, 140, 85);
    width: 300px;
    padding: 30px;
}

.tituloCad{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    font-size: 20px;
    margin: 10px;
}

.subTituloCad{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

input{
    width: 240px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
}

.cpf{
    text-align: center;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    color: white;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
}