*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    a{
        button{

        }
    }
}

table{
    border: 2px solid black;
    td{
        border: 1px solid black;
    }
    th{
        border: 1px solid black;
    }
    tr{
        border: 1px solid black;
    }
}


.titulos{

}